apiVersion: apps/v1
kind: Deployment
metadata:
  name: venus-market-{{.UniqueId}}-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: venus-market-{{.UniqueId}}-pod
  template:
    metadata:
      labels:
        app: venus-market-{{.UniqueId}}-pod
    spec:
      initContainers:
        - name: create-piece-dir
          image: busybox:1.28
          command: [ 'sh', '-c', "mkdir -p /shared-dir/k8stest/piece-{{.UniqueId}}" ]
          volumeMounts:
            - mountPath: /shared-dir
              name: shared-dir-v
      containers:
        - name: venus-market-{{.UniqueId}}
          image: "filvenus/venus-market:{{.CodeVersion}}"
          args: ["run"]
          ports:
            - containerPort: 41235
              protocol: TCP
            - containerPort: 58418
              protocol: TCP
          volumeMounts:
            - name: marketcfg
              mountPath: "/root/.venusmarket/config.toml"
              subPath: "config.toml"
            - mountPath: /shared-dir
              name: shared-dir-v
      volumes:
        - name: marketcfg
          configMap:
            name: venus-market-cfg-{{.UniqueId}}
            items:
              - key: config.toml
                path: config.toml
        - name: shared-dir-v
          persistentVolumeClaim:
            claimName: testnet-shared-dir