apiVersion: v1
kind: Service
metadata:
  name: venus-sector-manager-{{.UniqueId}}-svc
spec:
  clusterIP: None
  selector:
    app: venus-sector-manager-{{.UniqueId}}-pod
  ports:
    - protocol: TCP
      port: 1789/root/brightbird/pluginsrc/deploy/damocles-manager/plugin