apiVersion: v1
kind: ConfigMap
metadata:
  name: damocles-manager-cfg-{{.UniqueId}}
data:
  sector-manager.cfg: |
    # Default config:
    [Common]
    [Common.API]
    Chain = "{{.NodeUrl}}"
    Messager = "{{.MessagerUrl}}"
    Market = "{{.MarketUrl}}"
    Gateway = ["{{.GatewayUrl}}"]
    Token = "{{.UserToken}}"
    #ChainEventInterval = "1m0s"
{{ range $index, $value := .PieceStores }}
    [[Common.PieceStores]]
    Name = "{{$value}}"
    Path = "/piece/{{$value}}"
    #Plugin = ""
    #PluginName = "s3store"
    [Common.PieceStores.Meta]
    #SomeKey = "SomeValue"
{{ end }}
{{ range $index, $value := .PersistStores }}
    [[Common.PersistStores]]
    Name = "{{$value}}"
    Path = "/persist/{{$value}}"
    Strict = false
    ReadOnly = false
    Weight = 0
    AllowMiners = []
    #DenyMiners = [3, 4]
    #Plugin = ""
    #PluginName = "s3store"
{{ end }}
    [Common.PersistStores.Meta]
    #SomeKey = "SomeValue"

    [Common.DB]
    Driver = "badger"
    [Common.DB.Badger]
    # BaseDir = ""

    [Common.Proving]
    #ParallelCheckLimit = 128
    #SingleCheckTimeout = "10m0s"
    #PartitionCheckTimeout = "20m0s"
    
    [[Miners]]
    Actor = {{.MinerAddress}}
    
    [Miners.Sector]
    InitNumber = 0
    MinNumber = 0
    MaxNumber = 1000
    Enabled = true
    EnableDeals = true
    LifetimeDays = 540
    Verbose = false

    [Miners.Commitment]
    Confidence = 10
    [Miners.Commitment.Pre]
    Sender = "{{.SenderWalletAddress}}" 
    SendFund = false
    GasOverEstimation = 1.2
    GasOverPremium = 0.0
    GasFeeCap = "5 nanoFIL"
    #MaxFeeCap = ""
    
    [Miners.Commitment.Pre.Batch]
    Enabled = false
    Threshold = 16
    MaxWait = "1h0m0s"
    CheckInterval = "1m0s"
    GasOverEstimation = 1.2
    GasOverPremium = 0.0
    GasFeeCap = "5 nanoFIL"
    MaxFeeCap = ""
    
    [Miners.Commitment.Prove]
    Sender = "{{.SenderWalletAddress}}" 
    SendFund = false
    GasOverEstimation = 1.2
    GasOverPremium = 0.0
    GasFeeCap = "5 nanoFIL"
    #MaxFeeCap = ""
    
    [Miners.Commitment.Prove.Batch]
    Enabled = true
    Threshold = 16
    MaxWait = "1h0m0s"
    CheckInterval = "1m0s"
    GasOverEstimation = 1.2
    GasOverPremium = 0.0
    GasFeeCap = "5 nanoFIL"
    #MaxFeeCap = ""
    
    [Miners.Commitment.Terminate]
    Sender = "{{.SenderWalletAddress}}"
    SendFund = false
    GasOverEstimation = 1.2
    GasOverPremium = 0.0
    GasFeeCap = "5 nanoFIL"
    MaxFeeCap = ""
    
    [Miners.Commitment.Terminate.Batch]
    Enabled = false
    Threshold = 5
    MaxWait = "1h0m0s"
    CheckInterval = "1m0s"
    GasOverEstimation = 1.2
    GasOverPremium = 0.0
    GasFeeCap = "5 nanoFIL"
    #MaxFeeCap = ""
    
    [Miners.PoSt]
    Sender = "{{.SenderWalletAddress}}" 
    Enabled = true
    StrictCheck = true
    Parallel = false
    GasOverEstimation = 1.2
    GasOverPremium = 0.0
    GasFeeCap = "5 nanoFIL"
    #MaxFeeCap = ""
    Confidence = 10
    SubmitConfidence = 0
    ChallengeConfidence = 0
    MaxRecoverSectorLimit = 0
    MaxPartitionsPerPoStMessage = 0
    MaxPartitionsPerRecoveryMessage = 0
    
    [Miners.Proof]
    Enabled = true
    
    [Miners.Sealing]
    SealingEpochDuration = 0