apiVersion: v1
kind: Pod
metadata:
  namespace: {{.NameSpace}}
  name: test-runner-{{.TestID}}
  labels:
    app: venus-testrunner-pod
    apptype: testrunner
    testid: {{.TestID}}
spec:
  restartPolicy: Never
  initContainers:
  containers:
    - name: venus-testrunner
      image: "{{if gt (len .Registry) 0}}{{.Registry}}/{{end}}filvenus/testrunner:zsk"
      imagePullPolicy: Always
      args: [{{.Args}}]
      env:
        - name: PRODUCTION
          value: "true"
      volumeMounts:
        - mountPath: /shared-dir
          name: shared-dir-v
          subPath: {{.NameSpace}}
  volumes:
    - name: shared-dir-v
      persistentVolumeClaim:
        claimName: shared-dir