apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: venus-cccc
spec:
  replicas: 1
  serviceName: venus-cccc-svc
  selector:
    matchLabels:
      app: venus-cccc-pod
  template:
    metadata:
      name: venus-cccc-pod
      labels:
        app: venus-cccc-pod
    spec:
      initContainers:
        - name: init-myservice
          image: 192.168.200.175/library/busybox:1.35
          command: ['sh', '-c', "mkdir -p /root/.venus;cp /root/config.tmp /root/.venus/config.json"]
          volumeMounts:
            - mountPath: /root
              name: venus-pvc
            - name: venuscfg
              mountPath: "/root/config.tmp"
              subPath: "config.json"
      containers:
        - name: venus-cccc
          image: "192.168.200.175/filvenus/venus:0f801b0b5911a28f87e7aed8333e2a6089c031d1"
          args: ["daemon", "--network", "force","--genesisfile", "/shared-dir/devgen.car"]
          ports:
            - containerPort: 3453
              protocol: TCP
          env:
            - name: FIL_PROOFS_PARAMETER_CACHE
              value: "/shared-dir/filecoin-proof-parameters"
            - name: IPFS_GATEWAY
              value: "https://proof-parameters.s3.cn-south-1.jdcloud-oss.com/ipfs/"
          volumeMounts:
            - mountPath: /shared-dir
              name: shared-dir-v
              subPath: {{.NameSpace}}
            - mountPath: /root
              name: venus-pvc
            - name: venuscfg
              mountPath: "/root/config.tmp"
              subPath: "config.json"
      volumes:
        - name: venuscfg
          configMap:
            name: venus-ha-cfg-9f3cd57c
            items:
              - key: config.json
                path: config.json
        - name: shared-dir-v
          persistentVolumeClaim:
            claimName: shared-dir
  volumeClaimTemplates:
    - metadata:
        name: venus-pvc # name+podname
        labels:
          app: venus-cccc-pvc
      spec:
        accessModes: [ "ReadWriteOnce" ]
        storageClassName: "nfs-client"
        resources:
          requests:
            storage: 10Gi