apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: sophon-miner-{{.UniqueId}}
spec:
  replicas: 1
  serviceName: sophon-miner-{{.UniqueId}}-svc
  selector:
    matchLabels:
      app: sophon-miner-{{.UniqueId}}-pod
  template:
    metadata:
      labels:
        app: sophon-miner-{{.UniqueId}}-pod
    spec:
      initContainers:
        - name: init-myservice
          image: {{if gt (len .Registry) 0}}{{.Registry}}/{{end}}library/busybox:1.35
          command: ['sh', '-c', "[ -d \"/root/.sophon-miner\" ]||(mkdir -p /root/.sophon-miner && cp /root/config.tmp /root/.sophon-miner/config.toml);"]
          volumeMounts:
            - mountPath: /root
              name: sophon-miner-pvc
            - name: sophon-miner-cfg
              mountPath: "/root/config.tmp"
              subPath: "config.toml"
      containers:
        - name: sophon-miner-{{.UniqueId}}
          image: "{{if gt (len .Registry) 0}}{{.Registry}}/{{end}}filvenus/sophon-miner:{{.CodeVersion}}"
          args: ["run"]
          ports:
            - containerPort: 12308
              protocol: TCP
          volumeMounts:
            - mountPath: /root
              name: sophon-miner-pvc
            - name: sophon-miner-cfg
              mountPath: "/root/config.tmp"
              subPath: "config.toml"
      volumes:
        - name: sophon-miner-cfg
          configMap:
            name: sophon-miner-cfg-{{.UniqueId}}
            items:
              - key: config.toml
                path: config.toml
  volumeClaimTemplates:
    - metadata:
        name: sophon-miner-pvc # name+podname
        labels:
          app: sophon-miner-{{.UniqueId}}-pvc
      spec:
        accessModes: [ "ReadWriteOnce" ]
        storageClassName: "nfs-client"
        resources:
          requests:
            storage: 100Mi